<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
      <%= link_to '修改密碼', edit_user_password_path %>
    <% else %>
      <%= link_to 'log in', new_user_session_path %>
      <%= link_to '註冊', new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
